name: PlatformIO CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        signal: [WWVB, DCF77, MSF, JJY]
        include:
          - signal: WWVB
            flags: ""
          - signal: DCF77
            flags: "-D SIGNAL_DCF77"
          - signal: MSF
            flags: "-D SIGNAL_MSF"
          - signal: JJY
            flags: "-D SIGNAL_JJY"

    steps:
      - uses: actions/checkout@v3

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Cache PlatformIO
        uses: actions/cache@v3
        with:
          path: ~/.platformio
          key: ${{ runner.os }}-platformio-${{ hashFiles('**/platformio.ini') }}
          restore-keys: |
            ${{ runner.os }}-platformio-

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install platformio

      - name: Install Dependencies
        run: pio pkg install

      - name: Run Build
        env:
          PLATFORMIO_BUILD_FLAGS: ${{ matrix.flags }}
        run: pio run

      - name: Run Native Tests
        env:
          PLATFORMIO_BUILD_FLAGS: ${{ matrix.flags }}
        run: pio test -e native
